<% content_for :main do %>
<h3>Edit Your Information<%#= current_user.get_name %></h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "rails_form", style: 'height:600px;' }) do |f| %>

	<%= devise_error_messages! %>

	<div class="field w100fl">
		<%= f.label :first_name %><br />
		<%= f.text_field :first_name, { autofocus: true, class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :last_name %><br />
		<%= f.text_field :last_name, { class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :email %><br />
		<%= f.email_field :email, { class: "txt100", style: "" } %>
	</div>

	<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
	<% end %>


	<div class="field w100fl">
		<%= f.label :current_password %> <i style="color:#F00;">(we need your current password to confirm your changes)</i><br />
		<%= f.password_field :current_password, { autocomplete: "off", class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :password, "New Password" %> <i style="color:#F00;">(leave blank if you don't want to change it)</i><br />
		<%= f.password_field :password, { autocomplete: "off", class: "txt100", style: "" } %>
	</div>

	<div class="field w100fl">
		<%= f.label :password_confirmation, "Confirm New Password" %><br />
		<%= f.password_field :password_confirmation, { autocomplete: "off", class: "txt100", style: "" } %>
	</div>


	<div class="actions w100fl">
		<%= f.submit "Update", { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkUserForm();" } %>
		<%= link_to "Cancel", root_url, { class: "btn btn-default", style: "float:right;width:150px;" } %>
	</div>

<% end %>
<% end %>
<!--<h3>Cancel my account</h3>//-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>//-->


