<%= tinymce_assets %>
<%= form_for(@resume_entry, html: { class: "rails_form", style: 'height:800px;' }) do |f| %>

	<% if @resume_entry.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@resume_entry.errors.count, "error") %> prohibited this resume_entry from being saved:</h2>
			<ul>
			<% @resume_entry.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field w100fl">
		<%= f.label :position %><br>
		<%= f.text_field :position, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :company %><br>
		<%= f.text_field :company, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :company_url %><br>
		<%= f.text_field :company_url, { class: "txt100", style: "" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :is_current, "Current Position?", { style: "float:left;" } %><%= f.check_box :is_current, { style: "float:left;margin-top:5px;margin-left:10px;" } %>
	</div>
	<div class="field w50fl">
		<%= f.label :start_date %><br>
		<%= f.date_select :start_date, { :order => [:month, :year], :start_year => 1990, :discard_day => true }, { class: "", style: "width:40%;margin-right:10px;float:left;" } %>
	</div>
	<div class="field w50fl">
		<%= f.label :end_date %><br>
		<%= f.date_select :end_date, { :order => [:month, :year], :start_year => 1990, :discard_day => true }, { class: "", style: "width:40%;margin-right:10px;float:left;" } %>
	</div>
	<div class="field w100fl">
		<%= f.label :description %><br>
		<%= f.text_area :description, { class: "tinymce", style: "height:150px" } %>
		<%= tinymce %>
	</div>
	<div class="actions w100fl">
		<%= f.submit "Submit", { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkResumeEntryForm();" } %>
		<%= link_to 'Back', resume_path, { class: "btn btn-primary", style: "float:right;width:150px;" } %>
	</div>

<% end %>
