<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @resume_entry.position %>
</p>

<p>
  <strong>Company:</strong>
  <%= @resume_entry.company %>
</p>

<p>
  <strong>Company url:</strong>
  <%= @resume_entry.company_url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resume_entry.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @resume_entry.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @resume_entry.end_date %>
</p>

<%= link_to 'Edit', edit_resume_entry_path(@resume_entry) %> |
<%= link_to 'Back', resume_entries_path %>
