<% content_for :main do %>
	<h3>Tim's Resume</h3>

	<!-- Summary section //-->
	<span class="w100fl resume_heading">Summary:</span>
	<div class="w100fl resume_entry">
		I have 8 years of professional experience in software engineering and systems administration.
		I have extensive experience with Ruby on Rails, PHP, and Java programming, MySQL and MSSQL Server, HTML, XML, JavaScript and CSS.
		I am currently employed at Fusion Technology, LLC.
		Prior to this, I spent five years with SCD Information Technology, where I took courses on the subject of Cloudera Server Management and Development.
		As part of my undergraduate work I did extensive research in the field of Dynamical Systems (chaos theory), and assisted in the reengineering of various mathematics tools using a cross-platform language (Java) to build an open source graphing application capable of graphing and analyzing:
		<ul>
			<li>Standard functions (Real polynomials, trig functions, etc)</li>
			<li>Parametric Equations</li>
			<li>Differential Equations and Systems of any order</li>
			<li>Iterated Maps and Iterated Map Systems</li>
			<li>Bifurcation Diagrams</li>
			<li>Lyapunov Exponents</li>
			<li>Iterated Systems (fractals)</li>
		</ul>
	</div>

	<!-- Education section //-->
	<span class="w100fl resume_heading">Education:</span>
	<div class="w100fl resume_entry">
		Bachelor of Science, Computer Science<br>
		Bachelor of Science, Mathematics<br>
		Graduated <i>cum laude</i> May, 2009, University of Hartford<br>
		Currently working toward a Master of Science in Computer Science
	</div>

	<!-- Experience section //-->
	<span class="w100fl resume_heading">Previous Experience:</span>
	<% @resume_entries.each do |resume_entry| %>
		<div class="w100fl resume_entry resume_position">
			<strong style="font-size:1.15em;"><i><%= resume_entry.position %></i></strong><br>
			<% diff = resume_entry.date_difference %>
			<span class="w100fl"><%= resume_entry.company %></span>
			<span class="w100fl">
				<%= resume_entry.start_date.strftime("%b, %Y") %> - <%= resume_entry.end_date.strftime("%b, %Y") %>
				<i>(<%= "#{diff[0]} years, #{diff[1]} months" %>)</i>
			</span>
			<p><%= resume_entry.description.html_safe %></p>
		</div>
	<% end %>

<% end %>