<% content_for :main do %>
<p id="notice" style="display:none;"><%= notice %></p>

<%= javascript_tag do %>
	jQuery.ajax({
		type: "GET",
		beforeSend: function(xhr) {
			xhr.setRequestHeader("X-CSRF-Token", jQuery('meta[name="csrf-token"]').attr('content'));
			xhr.setRequestHeader("Accept", "text/html");
		},
		url: "/projects/1/checkAppStatus",
		data: {},
		timeout:5000,
		success: function(result) {
			var response = JSON.parse(result);
			if(response['status'] == "success") {
				var projs = response['content']['projects'];
				for(var key in projs) {
					var spn = FUSION.get.node("server_status_span_" + key);
					if(projs[key]) {
						spn.className = "glyphicon glyphicon-ok server_status_up";
					}
					else {
						spn.className = "glyphicon glyphicon-remove server_status_down";
					}
				}
			}
			else {
				console.log("Error on the server: " + response['message']);
			}
		},
		error: function(xhr, errtype, errthrown) {
			switch(errtype) {
				case "error":
					console.log("Error completing request: " + errthrown);
					break;
				case "abort":
					console.log("Call to server aborted: " + errthrown);
					break;
				case "parsererror":
					console.log("Parser error during request: " + errthrown);
					break;
				case "timeout":
					console.log("Call to server timed out - please try again");
					break;
				default:
					console.log("AJAX Error: The call to the server failed");
			}
		}
	});
<% end %>

<% pwidth = user_signed_in? ? "50%" : "100%" %>
<div style="float:left;width:<%= pwidth %>;">
<h3>
	Please choose a Project:
	<% if user_signed_in? %>
		<a href="javascript:void(0)" class="btn btn-default btn-xs new_project_btn" id="new_project_link">New Project</a>
	<% end %>
</h3>

<table class="table" id="project_table">
	<thead>
		<tr>
			<th style="width:200px;">Name</th>
			<th style="width:130px;">Status</th>
			<th class="tac" style="width:85px;">Running?</th>
			<th class="tac" style="width:30px;"></th>
			<% if user_signed_in? %>
			<th class="tac" style="width:30px;"></th>
			<th class="tac" style="width:30px;"></th>
			<% end %>
		</tr>
	</thead>

	<tbody id="completed_project_tbody">
		<% @cmp_projects.each do |project| %>
			<tr id="project_row_<%= project.id %>">
				<td class="vam project_cell"><%= link_to project.name, project.link, { id:"project_link_#{project.id}", target: "_blank" } %></td>
				<td class="vam project_cell"><%= project.get_status %></td>
				<td class="vam project_cell tac">
					<span id="server_status_span_<%= project.id %>" class="glyphicon glyphicon-question-sign server_status_wait" aria-hidden="true"></span>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#5cb85c;" title="Project Info" href="javascript:void(0)" onclick="showProjectToolInfo('project_<%= project.id %>_description')">
						<i class="glyphicon glyphicon-info-sign"></i></a>
				</td>
				<% if user_signed_in? %>
				<td class="vam project_cell tac">
					<a style="color:#204d74;" title="Edit <%= project.name %>" class="edit_project_link" id="project_<%= project.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-edit"></i></a>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#C9302C;" title="Remove <%= project.name %>" class="remove_project_link" id="project_<%= project.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-trash"></i></a>
				</td>
				<% end %>
				<input type="hidden" value="<%= project.description %>" id="project_<%= project.id %>_description" />
			</tr>
		<% end %>
	</tbody>
	<tbody id="in_development_project_tbody" style="border-top:none;">
		<% @dev_projects.each do |project| %>
			<tr id="project_row_<%= project.id %>">
				<td class="vam project_cell"><%= link_to project.name, project.link, { id:"project_link_#{project.id}", target: "_blank" } %></td>
				<td class="vam project_cell"><%= project.get_status %></td>
				<td class="vam project_cell tac">
					<span id="server_status_span_<%= project.id %>" class="glyphicon glyphicon-question-sign server_status_wait" aria-hidden="true"></span>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#5cb85c;" title="Project Info" href="javascript:void(0)" onclick="showProjectToolInfo('project_<%= project.id %>_description')">
						<i class="glyphicon glyphicon-info-sign"></i></a>
				</td>
				<% if user_signed_in? %>
				<td class="vam project_cell tac">
					<a style="color:#204d74;" title="Edit <%= project.name %>" class="edit_project_link" id="project_<%= project.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-edit"></i></a>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#C9302C;" title="Remove <%= project.name %>" class="remove_project_link" id="project_<%= project.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-trash"></i></a>
				</td>
				<% end %>
				<input type="hidden" value="<%= project.description %>" id="project_<%= project.id %>_description" />
			</tr>
		<% end %>
	</tbody>
</table>
</div>

<% if user_signed_in? %>
<div style="float:right;width:45%;">
<h3>
	Please select a Tool:
	<a href="javascript:void(0)" class="btn btn-default btn-xs new_project_btn" id="new_tool_link">New Tool</a>
</h3>

<table class="table" id="tool_table">
	<thead>
		<tr>
			<th style="width:200px;">Name</th>
			<th style="width:30px;"></th>
			<th style="width:30px;"></th>
			<th style="width:30px;"></th>
		</tr>
	</thead>
	<tbody id="tool_tbody">
		<% @tools.each do |tool| %>
			<tr id="tool_row_<%= tool.id %>">
				<td class="vam project_cell"><%= link_to tool.name, tool.link, { id:"tool_link_#{tool.id}", target: "_blank" } %></td>
				<td class="vam project_cell tac">
					<a style="color:#5cb85c;" title="Tool Info" href="javascript:void(0)" onclick="showProjectToolInfo('tool_<%= tool.id %>_description')">
						<i class="glyphicon glyphicon-info-sign"></i></a>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#204d74;" title="Edit <%= tool.name %>" class="edit_project_link" id="tool_<%= tool.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-edit"></i></a>
				</td>
				<td class="vam project_cell tac">
					<a style="color:#C9302C;" title="Remove <%= tool.name %>" class="remove_project_link" id="tool_<%= tool.id %>" href="javascript:void(0)">
						<i class="glyphicon glyphicon-trash"></i></a>
				</td>
				<input type="hidden" value="<%= tool.description %>" id="tool_<%= tool.id %>_description" />
			</tr>
		<% end %>
	</tbody>
</table>
</div>


<div id="new_item_overlay" class="fl_alert_overlay">
	<div id="new_item_wrapper" class="fl_alert_wrapper" style="width:350px;height:520px;padding:15px;top:200px">
		<div id="new_item_header" class="alert_content alert_dragable">
			<span id="new_item_title" class="fl_alert_modal_title"></span>
			<button onclick="hideNewItem()" style="background-color:#EEE;" class="alert_closebtn">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</div>
		<div style="width:100%;height:370px;">
			<div class="new_item_cell">
				<label class="new_item_lbl">Name:</label>
				<input type="text" class="new_item_txt" id="name" value="" />
				<input type="hidden" id="id" value="0" />
			</div>
			<div class="new_item_cell">
				<label class="new_item_lbl">Link:</label>
				<input type="text" class="new_item_txt" id="link" value="" />
			</div>
			<div id="statusdiv" class="new_item_cell">
				<label class="new_item_lbl">Status:</label>
				<select id="status" class="new_item_slct">
					<option value="">Please select a status...</option>
					<option value="completed">Completed</option>
					<option value="in_development">In Development</option>
				</select>
			</div>
			<div class="new_item_cell">
				<label class="new_item_lbl">Description:</label>
				<textarea id="description" class="new_item_txtarea"></textarea>
				<input type="hidden" id="type" value="" />
				<input type="hidden" id="created_at" value="" />
				<input type="hidden" id="updated_at" value="" />
			</div>
			<div class="new_item_cell" style="margin-top:20px;">
				<input type="button" class="new_item_btn" value="Save" onclick="updateItem()" style="float:left;" />
				<input type="button" class="new_item_btn" value="Cancel" onclick="hideNewItem()" style="float:right;" />
			</div>
		</div>
	</div>
</div>



<% end %>

<% end %>
