<% content_for :main do %>
<h3>Log in</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "rails_form", style: 'height:300px;' }) do |f| %>
  <div class="field w100fl">
    <%= f.label :email %><br />
    <%= f.email_field :email, { autofocus: true, class: "txt100", style: "" }  %>
  </div>

  <div class="field w100fl">
    <%= f.label :password %><br />
    <%= f.password_field :password, { autocomplete: "off", class: "txt100", style: "" } %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field w100fl">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", { class: "btn btn-success", style: "float:left;width:150px;", onclick: "return checkScheduleForm();" } %>
  </div>
<% end %>

<%#= render "devise/shared/links" %>
<% end %>