<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @resume.summary %>
</p>

<p>
  <strong>Education:</strong>
  <%= @resume.education %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @resume.skills %>
</p>

<p>
  <strong>Additional Information:</strong>
  <%= @resume.additional_info %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
