<!DOCTYPE html>
<html>
	<%= render partial: "shared/head" %>
	<body>
		<!-- Wrap all page content here -->
		<div id="wrap">
			<%= render partial: "shared/nav" %>
			<!-- Begin page content -->
			<div class="container" style="padding-top:40px;">
				<div style="visibility:hidden;">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				</div>
				<%= yield :main %>
				<%#= yield %>
			</div>
		</div>
		<!-- Close up the page wrapping. -->
		<%= render partial: "shared/foot" %>
	</body>
</html>
